<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.helicopark.permission">

    <application>
        <activity
            android:name=".location.LocationPermissionActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".common.CommonPermissionActivity"
            android:theme="@style/Theme.Transparent" />
    </application>
</manifest>